<h2 mat-dialog-title>BOOKING NOTIFICATION
<span><img style="height: 20px" src="https://image.flaticon.com/icons/png/512/3602/3602136.png" alt=""> </span>
</h2>

<mat-dialog-content class="mat-typography">
<!--<strong *ngIf="notify=='valid'"> :  </strong>-->
<p *ngIf="notify=='inValidInStartDate'">Please choose starting date</p>
  <p *ngIf="notify=='inValidInEndDate'">Please choose end date</p>
  <p *ngIf="notify=='valid'">Please confirm </p>
  <p *ngIf="notify=='success'">Booking success</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>CANCEL</button>
  <button *ngIf="notify=='valid'" mat-button [mat-dialog-close]="true" cdkFocusInitial>CONFIRM</button>
</mat-dialog-actions>
