<h2 mat-dialog-title>BOOKING NOTIFICATION </h2>
<i class="bi bi-arrow-right-circle-fill"></i>
<mat-dialog-content class="mat-typography">
<!--<strong *ngIf="notify=='valid'"> :  </strong>-->
<p *ngIf="notify=='inValidInStartDate'">Please choose starting date</p>
  <p *ngIf="notify=='inValidInEndDate'">Please choose end date</p>
  <p *ngIf="notify=='valid'">Please confirm </p>
  <p *ngIf="notify=='success'">Booking success</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>CANCEL</button>
  <button *ngIf="notify=='valid'" mat-button [mat-dialog-close]="true" cdkFocusInitial>CONFIRM</button>
</mat-dialog-actions>
