<h2 mat-dialog-title>Booking Notify</h2>
<mat-dialog-content class="mat-typography">
<strong *ngIf="notify=='valid'">Thông tin chi tiết :  </strong>
<p *ngIf="notify=='inValidInStartDate'">Vui lòng chọn ngày bắt đầu</p>
  <p *ngIf="notify=='inValidInEndDate'">Vui lòng chọn ngày kết thúc</p>
  <p *ngIf="notify=='valid'">Bạn phải tuân thủ các bruh của phòng vì chủ nhà rất là bruh bruh</p>
  <p *ngIf="notify=='success'">Booking success</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button *ngIf="notify=='valid'" mat-button [mat-dialog-close]="true" cdkFocusInitial>Confirm</button>
</mat-dialog-actions>
