<!--<h1>Login form</h1>-->
<!--<form [formGroup]="loginForm" (ngSubmit)="login()">-->
<!--  <div>-->
<!--    <label for="username">Username:</label>-->
<!--    <input type="text" formControlName="username" id="username">-->
<!--  </div>-->
<!--  <div>-->
<!--    <label for="password">Password:</label>-->
<!--    <input type="password" formControlName="password" id="password">-->
<!--  </div>-->
<!--  <div>-->
<!--    <button>Login</button>-->
<!--  </div>-->
<!--</form>-->


<div style="position: absolute;left: 50%;top: 50%;transform: translate(-50%, 0%);" class="col-md-12 col-xs-12 login-blocks">
  <h2>Login : </h2>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" formControlName="username" id="username" >
      <ng-container *ngIf="loginForm.controls.username.touched">
        <p *ngIf="loginForm.controls.username?.errors?.required"> Trường này không được để trống </p>
        <p *ngIf="loginForm.controls.username?.errors?.minLength"> Trường nàfđược để trống </p>
      </ng-container>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" formControlName="password" id="password" required="">
    </div>
    <div class="text-center">
      <button class="btn btn-default" [disabled]="loginForm.invalid"> Log in</button>
    </div>
  </form>
  <br>

  <h2>Social login :  </h2>

  <p>
    <a class="login-social" href="#"><i class="fa fa-facebook"></i>&nbsp;Facebook</a>
    <a class="login-social" href="#"><i class="fa fa-google-plus"></i>&nbsp;Gmail</a>
    <a class="login-social" href="#"><i class="fa fa-twitter"></i>&nbsp;Twitter</a>
  </p>
</div>
