<app-head></app-head>
<app-nav></app-nav>
<app-header></app-header>

<div class="register-area" style="background-color:rgb(249, 249, 249);">
  <div class="container">
    <div class="col-md-3 col-xs-0"></div>
    <div class="col-md-6 col-xs-12 login-blocks">
  <form [formGroup]="registerForm" (ngSubmit)="updatePassword()">
    <div class="form-group">
      <label for="pwd">Enter your password</label>
      <input style=" border: 2px solid #cdc2c2;" type="password"  id="pwd" [(ngModel)]="oldPassword" formControlName="confirm">
    </div>
    <div  class="form-group" formGroupName="pwGroup">
      <div class="form-group">
        <label>
          Enter new password:</label>
          <input style=" border: 2px solid #cdc2c2;" type="password"  [(ngModel)]="newPassword" formControlName="password">
          <div
               *ngIf="registerForm.get('pwGroup').get('password').invalid && (registerForm.get('pwGroup').get('password').dirty || registerForm.get('pwGroup').get('password').touched)">
            <div *ngIf="registerForm.get('pwGroup').get('password').errors.required" style="color: red" >
              Enter your new password
            </div>
            <div *ngIf="registerForm.get('pwGroup').get('password').errors.minlength" style="color: red">
              Minimum 6 characters required
            </div>
            <div *ngIf="registerForm.get('pwGroup').get('password').errors.maxlength" style="color: red">
              Maximum 20 characters required
            </div>
          </div>

      </div>
      <div class="form-group">
        <label class="col">
          Enter Re-new password:</label>
          <input style=" border: 2px solid #cdc2c2;" type="password" formControlName="confirmPassword">
          <div style="color: red"
               *ngIf="registerForm.hasError('passwordnotmatch', ['pwGroup']) && (registerForm.get('pwGroup').get('confirmPassword').dirty || registerForm.get('pwGroup').get('confirmPassword').touched)">
            Confirm password not match
          </div>

      </div>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
    </div>
  </div>
</div>
