<app-head></app-head>
<app-nav></app-nav>
<app-header></app-header>


<!-- property area -->
<div class="properties-area recent-property" style="background-color: #FFF;">
  <div class="container">
    <div class="row">

      <div class="col-md-3 p0 padding-top-40">
        <div class="blog-asside-right pr0">

          <div class="panel panel-default sidebar-menu wow fadeInRight animated">
            <div class="panel-heading" style="text-align: center">
              <h3 class="panel-title">Smart search</h3>
            </div>
            <div class="panel-body search-widget">
              <form [formGroup]="searchForm" (ngSubmit)="search()">
                <mat-form-field>
                  <mat-label>Search</mat-label>
                  <input matInput placeholder="Enter house name or place" formControlName="search">
                </mat-form-field>
                <mat-form-field>
                  <input matInput [matDatepicker]="picker" (dateChange)="validateForCheckoutDate()" [min]="today" readonly
                         [max]="maxDate" placeholder="Choose Checkin Date"
                         formControlName="checkin">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error *ngIf="searchForm.controls['checkin'].hasError( 'required')">This field is required
                  </mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input matInput [matDatepicker]="picker1" (dateChange)="validateForCheckinDate()" [min]="nextday" readonly
                         placeholder="Choose checkout date"
                         formControlName="checkout">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                  <mat-error *ngIf="searchForm.controls['checkout'].hasError( 'required')">This field is required
                  </mat-error>
                </mat-form-field>
                <fieldset>
                  <div class="row">
                    <div class="col-xs-12">
                      <input class="button btn largesearch-btn" value="Search" type="submit">
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>

          <div class="panel panel-default sidebar-menu wow fadeInRight animated">
            <div class="panel-heading">
              <h3 class="panel-title">Recommended</h3>
            </div>
            <div class="panel-body recent-property-widget">
              <ul>
                <li>
                  <div class="col-md-3 col-sm-3 col-xs-3 blg-thumb p0">
                    <a href="single.html"><img src="assets/img/demo/small-property-2.jpg"></a>
                    <span class="property-seeker">
                                                    <b class="b-1">A</b>
                                                    <b class="b-2">S</b>
                                                </span>
                  </div>
                  <div class="col-md-8 col-sm-8 col-xs-8 blg-entry">
                    <h6><a>Super nice villa </a></h6>
                    <span class="property-price">3000000$</span>
                  </div>
                </li>
                <li>
                  <div class="col-md-3 col-sm-3  col-xs-3 blg-thumb p0">
                    <a><img src="assets/img/demo/small-property-1.jpg"></a>
                    <span class="property-seeker">
                                                    <b class="b-1">A</b>
                                                    <b class="b-2">S</b>
                                                </span>
                  </div>
                  <div class="col-md-8 col-sm-8 col-xs-8 blg-entry">
                    <h6><a>Super nice villa </a></h6>
                    <span class="property-price">3000000$</span>
                  </div>
                </li>
                <li>
                  <div class="col-md-3 col-sm-3 col-xs-3 blg-thumb p0">
                    <a><img src="assets/img/demo/small-property-3.jpg"></a>
                    <span class="property-seeker">
                                                    <b class="b-1">A</b>
                                                    <b class="b-2">S</b>
                                                </span>
                  </div>
                  <div class="col-md-8 col-sm-8 col-xs-8 blg-entry">
                    <h6><a>Super nice villa </a></h6>
                    <span class="property-price">3000000$</span>
                  </div>
                </li>

                <li>
                  <div class="col-md-3 col-sm-3 col-xs-3 blg-thumb p0">
                    <a><img src="assets/img/demo/small-property-2.jpg"></a>
                    <span class="property-seeker">
                                                    <b class="b-1">A</b>
                                                    <b class="b-2">S</b>
                                                </span>
                  </div>
                  <div class="col-md-8 col-sm-8 col-xs-8 blg-entry">
                    <h6><a>Super nice villa </a></h6>
                    <span class="property-price">3000000$</span>
                  </div>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-9  pr0 padding-top-40 properties-page">
        <div class="col-md-12 clear">
          <div class="col-xs-10 page-subheader sorting pl0">
            <ul class="sort-by-list">
              <li class="active">
                <a href="javascript:void(0);" class="order_by_date" data-orderby="property_date" data-order="ASC">
                  Property Date <i class="fa fa-sort-amount-asc"></i>
                </a>
              </li>
              <li class="">
                <a href="javascript:void(0);" class="order_by_price" data-orderby="property_price" data-order="DESC">
                  Property Price <i class="fa fa-sort-numeric-desc"></i>
                </a>
              </li>
            </ul><!--/ .sort-by-list-->

            <div class="items-per-page">
              <label for="items_per_page"><b>Property per page :</b></label>
              <div class="sel">
                <select id="items_per_page" name="per_page">
                  <option value="3">3</option>
                  <option value="6">6</option>
                  <option value="9">9</option>
                  <option selected="selected" value="12">12</option>
                  <option value="15">15</option>
                  <option value="30">30</option>
                  <option value="45">45</option>
                  <option value="60">60</option>
                </select>
              </div><!--/ .sel-->
            </div><!--/ .items-per-page-->
          </div>

<!--          <div class="col-xs-2 layout-switcher">-->
<!--            <a class="layout-list" href="javascript:void(0);"> <i class="fa fa-th-list"></i> </a>-->
<!--            <a class="layout-grid active" href="javascript:void(0);"> <i class="fa fa-th"></i> </a>-->
<!--          </div>&lt;!&ndash;/ .layout-switcher&ndash;&gt;-->
        </div>
        <div class="col-md-12 clear">
          <div id="list-type" class="proerty-th">
            <div class="col-sm-6 col-md-4 p0" *ngFor="let house of filteredListHouse; index as i">
              <div class="box-two proerty-item" style="border-radius: 5px">
                <div class="item-thumb">
                  <a [routerLink]="['/houses/detail',house.houseId]">
                    <img style="width:400px;height:350px" src="{{house.imagesList&&house.imagesList[0]?.linkImage}}">
                  </a>
                </div>

                <div class="item-entry overflow">
                  <h5><a [routerLink]="['/houses/detail',house.houseId]"> {{house.houseName}} </a></h5>
                  <div class="dot-hr"></div>
                  <span class="pull-left"><b> Area :</b> {{house.area}} </span>
                  <span class="proerty-price pull-right"> {{house.pricePerDay | currency : 'USD' :true : '1.0-3'}}</span>
                  <p style="display: none;">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl.
                    Suspendisse ultricies commodo arcu nec pretium ...</p>
                  <br>
                  <div>
                    <span class="pull-left"><b> Adress :</b> {{house.houseAddress}} </span>
                  </div>
                  <div class="property-icon">
                    <div>
                    <div style="display:inline-block;width: 50%">
                      <img src="assets/img/icon/bed.png"> {{house.bedroomQuantity}}
                    </div>
                    <div style="display:inline-block;width: 50%">
                    <img src="assets/img/icon/shawer.png"> {{house.bathroomQuantity}}
                    </div >
                    </div>
                    <div>
                    <div style="display:inline-block;width: 50%">
                      <img src="assets/img/icon/house-type.png"> {{house.type}}
                    </div >
                    <div  *ngIf="house.houseStatus==='blank'" style="display:inline-block;width: 50%">
                    <img src="assets/img/icon/status-white.png">For rent
                    </div>
                    <div  *ngIf="house.houseStatus==='upgrade'">
                      <img src="assets/img/icon/status-white.png">Repair
                    </div>
                    <div *ngIf="house.houseStatus==='rent'">
                      <img src="assets/img/icon/status-white.png">For rent
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div style="text-align: center"><h3>{{message}}</h3></div>

        <div class="col-md-12" *ngIf="!message">
          <div class="pull-right">
            <div class="pagination">
              <ul>
                <!--                [class.disabled] ẩn đi ko click đc nếu, click able hien ban tay -->
                <li class="clickable" [class.disabled]="currentPage === 0"><a (click)="previous()">Prev</a></li>
                <li class="clickable" *ngFor="let page of pageArray" [class.active]="page === currentPage + 1"
                    (click)="goTo(page - 1)"><a>{{ page }}</a></li>
                <li class="clickable" [class.disabled]="currentPage === numberOfPage - 1"><a (click)="next()">Next</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
