<app-head></app-head>
<app-nav></app-nav>
<div class="content-area submit-property" style="background-color: #FCFCFC">&nbsp;
  <div class="container">
    <div class="clearfix">
      <div class="wizard-container">

        <div class="wizard-card ct-wizard-orange" id="wizardProperty">
          <form [formGroup]="houseForm" (ngSubmit)="createImage()" id="product-form">
            <div class="wizard-header">
              <h3 style="text-align: center">
                <b>Create your house</b>
              </h3>
            </div>
            <div class="col-sm-12" style="margin-top: 20px">
              <div class="col-sm-12">
                <div class="form-group">
                  <label>House name :</label>
                  <input type="text" name="houseName" formControlName="houseName" style="border-radius: 10px"
                         class="form-control" placeholder="Super villa ...">
                </div>

                <div class="form-group">
                  <label>House price <small>(usd per day)</small> :</label>
                  <input type="text" name="pricePerDay" formControlName="pricePerDay" style="border-radius: 10px"
                         class="form-control" placeholder="300">
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="col-sm-12">
                <div class="form-group">
                  <label>House Address :</label>
                  <input name="houseAddress" formControlName="houseAddress" style="border-radius: 10px"
                         class="form-control">
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Bedroom Quantity :</label>
                  <select tabindex="1" name="bedroomQuantity"  formControlName="bedroomQuantity" id="bedroomQuantity" class="form-control" style="border-radius: 10px">
                    <option value="0" selected="">Bed Min</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Bathroom Quantity:</label>
                  <select tabindex="1" name="bathroomQuantity"  formControlName="bathroomQuantity" id="bathroomQuantity" class="form-control" style="border-radius: 10px">
                    <option value="0" selected="">Bath Min</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label>House Area (m2) :</label>
                  <input name="area" formControlName="area"
                         class="form-control" style="border-radius: 10px">
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group" >
                  <label>House Type :</label>
                  <select tabindex="1" name="type"  formControlName="type" id="houseType" class="form-control" style="border-radius: 10px">
                    <option value="" selected="">House Type</option>
                    <option value="Apartment">Apartment</option>
                    <option value="Villa">Villa</option>
                    <option value="Home Stay">Home Stay</option>

                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="col-sm-12">
                <div class="form-group">
                  <label>Description :</label>
                  <input name="description" formControlName="description"
                         class="form-control" style="border-radius: 10px">
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="image">Chose Images :</label>
                  <input class="form-control" name="image" (change)="showPreview($event)" type="file"
                         id="image" multiple style="border-radius: 10px">
                  <p class="help-block">Select multiple images for your property .</p>
                </div>
                <div class="form-group" *ngFor="let image of selectedImages; index as i">
                  <span class="col-11">{{image.name.split('.').slice(0, -1)}}</span>
                  <button type="button" class="btn btn-sm btn-danger" style="float: right"
                          (click)="removeImageFromPreview(i)">
                    <i   class="fa fa-trash"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="col-sm-6">
                <div class="form-group">
                  <a routerLink="/" class="btn btn-danger " style="text-align: center">Cancel</a>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="submit" value="Create new House" class="btn btn-success float-right">
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- End submit form -->
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
