<div class="content-area submit-property" style="background-color: #FCFCFC;">&nbsp;
  <div class="container">
    <div class="clearfix">
      <div class="wizard-container">

        <div class="wizard-card ct-wizard-orange" id="wizardProperty">
          <form #houseForm="ngForm" (ngSubmit)="createHouse(houseForm);houseForm.resetForm()">
            <div class="wizard-header">
              <h3>
                <b>Submit</b> YOUR PROPERTY <br>
              </h3>
            </div>

            <ul>
              <li><a href="#step1" data-toggle="tab">Step 1 </a></li>
              <li><a href="#step2" data-toggle="tab">Step 2 </a></li>
              <li><a href="#step3" data-toggle="tab">Step 3 </a></li>
              <li><a href="#step4" data-toggle="tab">Finished </a></li>
            </ul>

            <div class="tab-content">

              <div class="tab-pane fade" id="step1">
                <div class="row p-b-15">
                  <h4 class="info-text"> Let's start with the basic information (with validation)</h4>
                  <div class="col-sm-4 col-sm-offset-1">
                    <div class="picture-container">
                      <div class="picture">
                        <img src="assets/img/default-property.jpg" class="picture-src" id="wizardPicturePreview"
                             title=""/>
                        <input type="file"
                               id="wizard-picture">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>House name <small>(required)</small></label>
                      <input type="text" name="houseName" [(ngModel)]="house.houseName" #houseName="ngModel"
                             class="form-control" placeholder="Super villa ...">
                    </div>

                    <div class="form-group">
                      <label>House price <small>(required)</small></label>
                      <input type="text" name="pricePerDay" [(ngModel)]="house.pricePerDay" #price="ngModel"
                             class="form-control" placeholder="3330000">
                    </div>
                  </div>
                </div>
              </div>
              <!--  End step 1 -->

              <div class="tab-pane" id="step2">
                <h4 class="info-text"> How much your Property is Beautiful ? </h4>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label>House Description :</label>
                        <textarea name="description" [(ngModel)]="house.description" #description="ngModel"
                                  class="form-control"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label>House Address :</label>
                        <input name="houseAddress" [(ngModel)]="house.houseAddress" #address="ngModel"
                               class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Bedroom Quantity :</label>
                        <input name="bedroomQuantity" [(ngModel)]="house.bedroomQuantity" #bedroomQuantity="ngModel"
                               class="form-control">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Bathroom Quantity:</label>
                        <input name="bathroomQuantity" [(ngModel)]="house.bathroomQuantity" #bedroomQuantity="ngModel"
                               class="form-control">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>House Area :</label>
                        <input name="area" [(ngModel)]="house.area" #area="ngModel"
                               class="form-control">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End step 2 -->

              <div class="tab-pane" id="step3">
                <h4 class="info-text">Give us somme images and videos ? </h4>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="property-images">Chose Images :</label>
                      <input class="form-control" name="image" [(ngModel)]="house.image" #image="ngModel" type="file"
                             id="property-images" multiple>
                      <p class="help-block">Select multipel images for your property .</p>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="property-video">Property video :</label>
                      <input class="form-control" value="" id="property-video"
                             placeholder="http://www.youtube.com, http://vimeo.com" name="property_video" type="text">
                    </div>

                    <div class="form-group">
                      <input class="form-control" value="" placeholder="http://www.youtube.com, http://vimeo.com"
                             name="property_video" type="text">
                    </div>

                    <div class="form-group">
                      <input class="form-control" value="" placeholder="http://www.youtube.com, http://vimeo.com"
                             name="property_video" type="text">
                    </div>
                  </div>
                </div>
              </div>
              <!--  End step 3 -->


              <div class="tab-pane" id="step4">
                <h4 class="info-text"> Finished and submit </h4>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="">
                      <p>
                        <label><strong>Terms and Conditions</strong></label>
                        By accessing or using GARO ESTATE services, such as
                        posting your property advertisement with your personal
                        information on our website you agree to the
                        collection, use and disclosure of your personal information
                        in the legal proper manner
                      </p>

                      <div class="checkbox">
                        <label>
                          <input type="checkbox"/> <strong>Accept terms and conditions.</strong>
                        </label>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <!--  End step 4 -->

            </div>

            <div class="wizard-footer">
              <div class="pull-right">
                <input type='button' class='btn btn-next btn-primary' name='next' value='Next'/>
                <button  class='btn btn-finish btn-primary ' value='Finish'></button>
              </div>

              <div class="pull-left">
                <input type='button' class='btn btn-previous btn-default' name='previous' value='Previous'/>
              </div>
              <div class="clearfix"></div>
            </div>
          </form>
        </div>
        <!-- End submit form -->
      </div>
    </div>
  </div>
</div>

