<app-nav></app-nav>
<div class="page-head">
  <div class="container">
    <div class="row">
      <div class="page-head-content">
        <h1 class="page-title"></h1>
      </div>
    </div>
  </div>
</div>
<!-- End page header -->

<!-- property area -->
<div class="content-area recent-property" style="background-color: #FFF;">
  <div class="container">
    <div class="row">

      <div class="col-md-12 pr-30 padding-top-40 properties-page user-properties">

        <div class="section">
          <div class="page-subheader sorting pl0 pr-10">


            <ul class="sort-by-list pull-left">
              <li class="active">
                <a href="javascript:void(0);" class="order_by_date" data-orderby="property_date" data-order="ASC">
                  Property Date <i class="fa fa-sort-amount-asc"></i>
                </a>
              </li>
              <li class="">
                <a href="javascript:void(0);" class="order_by_price" data-orderby="property_price" data-order="DESC">
                  Property Price <i class="fa fa-sort-numeric-desc"></i>
                </a>
              </li>
            </ul><!--/ .sort-by-list-->

            <div class="items-per-page pull-right">
              <button mat-button color="accent" routerLink="/allHouseStatics">Turnover</button>
              <label for="items_per_page"><b>Property per page :</b></label>
              <div class="sel">
                <select id="items_per_page" name="per_page">
                  <option value="3">3</option>
                  <option value="6">6</option>
                  <option value="9">9</option>
                  <option selected="selected" value="12">12</option>
                  <option value="15">15</option>
                </select>
              </div><!--/ .sel-->
            </div><!--/ .items-per-page-->
          </div>

        </div>

        <div class="section">
          <div *ngIf="myHouses.length==0" style="text-align: center">
            <a style="color: red">You haven't posted anything yet !</a>
          </div>
          <div *ngIf="myHouses.length!=0">
            <div id="list-type" class="proerty-th-list">
              <div class="col-md-4 p0" *ngFor="let house of myHouses">
                <div class="box-two proerty-item">
                  <div class="item-thumb">
                    <!--                    <a ><img src="{{house.imagesList[0]}}"></a>-->
                    <a><img src="assets/img/demo/property-3.jpg"></a>
                  </div>
                  <div class="item-entry overflow">
                    <h5><a> {{house.houseName}} </a>   <button (click)="setHouseId(house.houseId)"  mat-button color="accent" routerLink="/statistics">Analyse</button></h5>
                    <div class="dot-hr"></div>
                    <span class="pull-left"><b> Area :</b> {{house.area}} </span> m2
                    <span
                      class="proerty-price pull-right">{{house.pricePerDay | currency : 'USD' :true : '1.0-3'}}</span>

                    <p style="display: none;">{{house.description}} </p>

                    <div class="property-icon">
                      <img src="assets/img/icon/bed.png">({{house.bedroomQuantity}})|
                      <img src="assets/img/icon/shawer.png">({{house.bathroomQuantity}})|
                      <img src="assets/img/icon/status-white.png">({{house.houseStatus}})

                      <div class="dealer-action pull-right ">
                        <button mat-button color="primary" (click)="changeBlankStatus(house.houseId)">Blank</button>
                        <button mat-button color="warn" (click)="changeRentStatus(house.houseId)">Rent</button>
                        <button style="color:saddlebrown;" (click)="changeUpgradeStatus(house.houseId)">Upgrade</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="section">
          <div class="pull-right">
            <div class="pagination">
              <ul>
                <!--                  <li><a href="#">Prev</a></li>-->
                <!--                  <li><a href="#">1</a></li>-->
                <!--                  <li><a href="#">2</a></li>-->
                <!--                  <li><a href="#">3</a></li>-->
                <!--                  <li><a href="#">4</a></li>-->
                <!--                  <li><a href="#">Next</a></li>-->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
